<p><%= @user.first_name %>,</p>

<p>Thanks for your patience... This is the moment you have been waiting for...</p>

<p>This year, you will be buying a gift for:</p>

<h1><%= @user.giftee %></h1>

<p>REMEMBER: The minimum dollar amount is $75</p>

<p>If you spend below $75, you will be forever ridiculed by your GC peers.</p>

<p>Happy Holidays!!!</p>

Love,<br />
The GC Secret Santa Robot
