<div class="center hero-unit">
  <h2>Welcome to the 2013 GC Secret Santa, <%= current_user.first_name %>!</h2>
  <h3>This year, you will be buying a gift for <span id="giftee"><%= current_user.giftee %></span></h3>

  <%= image_tag 'tree.png', id: 'tree' %>

  <h5>Here's a list of who else has signed up so far:</h5>
  <% @other_users.each do |user| %>
    <li><%= "#{user.first_name} #{user.last_name}" %></li>
  <% end %>
</div>
